* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-size: large;
	font-weight: bold;
	background-color: white;
}
.container {
	margin: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.video, .audio, .youtube-video {
	/* text-align: justify;
	text-align-last: justify; */
	border-bottom: 4px solid transparent;
	border-radius: 8px;
	gap: 10px;
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.4) ;
	margin: 6px;
	padding: 8px;
}
.video>h2, .audio>h2, .youtube-video>h2 {
	text-align: center;
	white-space: 2px;
	color: brown;
	text-decoration: underline solid rgb(223, 154, 154) 4px;
}
video, audio, iframe {
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.4) ;
	margin-left:15% ;
}